body {
  font-family: Arial, sans-serif;  
  background-color: white;
} 
.container {  
  width: 50%;  
  margin: 0 auto;  
  background:#fff;  
  padding: 20px;  
  border-radius: 5px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  margin-top: 50px;  
  text-align: center; 
} 
.TodoAdd-button{
  padding:  10px 20px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer
}
.TodoItem-button{
  padding:  10px 20px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer
}
